body {
  margin: 0;
}

p {
  text-align:center;
}

input {
   height:20px;
  font-size:14pt;

.topBorder {
  width: 100%;
  height: 20%;
  font-size: 100px;
  background-color: CornflowerBlue;
}

.bottomBorder {
  background-color: CornflowerBlue;
  left: 0;
  bottom: 100%;
  height:20%;
  width:100%;
}
